#title{
    text-align: center;
}

.color {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 10px;
    margin: 30px;
    border-radius: 50px;
}

#black {
    background-color: black;
}

#darkblue {
    background-color: darkblue;
}

#green {
    background-color: green;
}

#mediumvioletred {
    background-color: mediumvioletred;
}

#pixel-board{
    padding: 0;
    margin-bottom: 90px;
}

.pixel {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-top: 0;
    background-color: rgb(255, 255, 255);

}
br{
    margin: 0px;
    padding: 0;
    height: 0;
    width: 0;

}

#clear-board {
    display: inline-block;
    margin-bottom: 60px;
    margin-top: 20px;
    margin-left: 30px;
}

#board-size{
    display: inline-block;
    margin-left: 100px;
}